---
import ContactForm from "./ContactForm.astro";
import ScrollReveal from "./ScrollReveal";
---

<section id="contact" class="max-w-6xl mx-auto px-4 py-20">
    <ScrollReveal client:load>
        <h2 class="text-3xl md:text-4xl font-bold mb-6 text-center text-[#2a93d1]">
            Get in Touch
        </h2>
    </ScrollReveal>
    <ContactForm />
</section>