---
import ScrollReveal from "./ScrollReveal.tsx";
// import { Icon } from "astro-icon/components";
import clientIcon from "../assets/clients.png";
import candidateIcon from "../assets/candidates.png";
---

<section id="/#features" class="max-w-6xl mx-auto px-4 py-20">
  <div class="grid md:grid-cols-2 gap-8">
    <ScrollReveal client:idle delay={0.1} scale={true}>
      <div
        class="p-6 bg-white rounded-lg border border-gray-200 hover:shadow-lg transition-shadow"
      >
        <div
          class="w-18 h-18 flex items-center justify-center mb-4"
        >
          <img src={clientIcon.src} class="w-16 h-16 text-gray-900" aria-hidden="true" />
        </div>
        <h3 class="text-3xl font-semibold text-gray-900 mb-2">Clients</h3>
        <p class="text-xl text-gray-600 font-semibold">GET CONNECTED </p>
        <p class="text-gray-600">
          Are you looking to work with highly qualified, pre-screened, candidates? DTSS can do all the heavy lifting, connecting you with the best leads to fill vacancies and make your hiring process run seamlessly. To get started, simply fill out a profile request below and one of our representatives will be in touch with you shortly!
        </p>
      </div>
    </ScrollReveal>
    <ScrollReveal client:idle delay={0.4} scale={true}>
      <div
        class="p-6 bg-white rounded-lg border border-gray-200 hover:shadow-lg transition-shadow"
      >
        <div
          class="w-18 h-18 flex items-center justify-center mb-4"
        >
          <img src={candidateIcon.src} class="w-16 h-16 text-gray-900" aria-hidden="true" />
        </div>
        <h3 class="text-3xl font-semibold text-gray-900 mb-2">Candidates</h3>
        <p class="text-xl text-gray-600 font-semibold">GET TO WORK </p>
        <p class="text-gray-600">
          Are you looking for work in the field?
          DTSS wants to put you to work with a schedule and environment that works for you! We can even find you a permanent home office, if that’s what you choose. We know how important customer service is, so attracting top performers is our business.        </p>
      </div>
    </ScrollReveal>
  </div>
</section>
